//css events style

* {
    box-sizing: border-box;
}

body{
font-family: Raleway;
    text-align: center;
}

#box {
    width: 500px;
    margin: 0 auto;
    border: 2px solid #333;
    padding: 0.8em;
    max-height: 200px;
    overflow: hidden;
}

#box.open {
    max-height: 1000px;
    
}

#clickbait {
    width: 200px;
    display: block;
    margin: 2em auto;
    background: lightblue;
    font-size: 18px;
    padding: 0.8em;
    border: 1px solid #333;
}

#clickbait:hover {
    background: #fff;
    transition: all 0.2s ease-in;
    border: 1px solid #333;
    
}

